@import "global";
@import "navbar";
@import "home";
@import "galery";
@import "conocenos";

/* imagen del registro y el ingreso */ /*  */ /*  */

.imagenreging {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  position: sticky;
  bottom: 0;
}

@keyframes from-right {
  0% {
    opacity: 0;
    transform: translateX(80px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

/* media */

@media (max-width: 450px) {
  .card-text {
    display: none;
  }
  .carrousel-h5 {
    font-size: 1rem;
  }
  .card-body {
    background-color: rgba(255, 237, 133, 0.568);
  }
  .button {
    padding: 0.1rem 1rem;
  }
}
@media (min-width: 360px) {
  .img {
    width: 200px;
  }
}
