// header {
//   background-color: #fcb9aa;
//   .bnindex {
//     font-family: "Mr Dafoe", cursiva;
//     font-style: oblique;
//   }
//   li {
//     font-style: italic;
//   }
// }
// /* SECTION */
// section {
//   background-color: none;
//   .imgi {
//     animation: from-right 1.5s ease;
//   }
//   button {
//     padding: 0.5rem 1.5rem;
//     border: solid rgb(255, 192, 203);
//     background: #f3ff86bb;
//     color: rgb(10, 10, 10);
//     font-size: 0.8rem;
//     font-style: italic;
//     cursor: pointer;
//   }
//   button:hover {
//     background: #9c918f9c;
//     color: rgb(5, 5, 5);
//   }
//   .card-title {
//     font-size: x-large;
//   }
// }

// .carrousel-h5 {
//   font-family: "Mr Dafoe", cursiva;
//   color: black;
//   font-size: xx-large;
// }
// .card-text {
//   font-family: "Dancing Script", cursiva;
// }
// .carrousel-p {
//   font-family: Georgia, "Times New Roman", Times, serif;
//   color: black;
// }
// /* registro.html */ /*  */ /*  */

// .imageningreso {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// /* FOOTER */

// /* media */

// @keyframes from-right {
//   0% {
//     opacity: 0;
//     transform: translateX(80px);
//   }
//   100% {
//     opacity: 1;
//     transform: translateX(0px);
//   }
// }
// @media (min-width: 360px) {
//   .img {
//     width: 200px;
//   }
// }
// @media (max-width: 450px) {
//   .card-text {
//     display: none;
//   }
//   .card-title {
//     font-size: 1rem;
//   }
//   .card-body {
//     background-color: rgba(255, 237, 133, 0.568);
//   }
//   button {
//     padding: 0.1rem 0.5rem;
//     font-size: 75%;
//   }
// }
